body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home-container {
    background-color: #ADFF2F; /* Lemon green background */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(135, 206, 250, 0.4); /* Sky-blue shadow */
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 0 20px; /* Ensure there's space on smaller screens */
}
h1 {
    font-size: 28px;
    color: #333;
    text-shadow: 0 2px 4px rgba(135, 206, 250, 0.5); /* Sky-blue text shadow */
    margin-bottom: 20px;
    }
    
    p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    }
    
    .cta-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    }
    
    .btn-primary,
    .btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    }